<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<compositeWeb>
    <modules>
      <module name="Reports" assemblyName="GlobalBank.Commercial.EBanking.Modules.Reports" virtualPath="~/Reports">
        <dependencies>
          <dependency module="Shell"/>
        </dependencies>
      </module>
    </modules>
		<authorization>
			<rule Url="~/Reports/AccountsSummaryView.aspx" Rule="AllowViewAccountsSummary" />
			<rule Url="~/Reports/PaymentHistoryView.aspx" Rule="AllowViewPaymentHistory" />
		</authorization>
	</compositeWeb>

	<appSettings/>
  <connectionStrings/>
  <system.web>
    <authorization>
      <deny users="?"/>
    </authorization>
  </system.web>
</configuration>
