<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<compositeWeb>
		<modules>
			<module name="EFT" assemblyName="GlobalBank.Commercial.EBanking.Modules.EFT" virtualPath="~/EFT">
				<dependencies>
					<dependency module="Shell"/>
				</dependencies>
			</module>
		</modules>
		<authorization>
			<rule Url="~/EFT/Default.aspx" Rule="AllowCreateTransfer"/>
			<rule Url="~/EFT/ConfirmTransfersView.aspx" Rule="AllowCreateTransfer"/>
			<rule Url="~/EFT/CreateAccountView.aspx" Rule="AllowCreateTransfer"/>
			<rule Url="~/EFT/NewTransferView.aspx" Rule="AllowCreateTransfer"/>
			<rule Url="~/EFT/SummaryView.aspx" Rule="AllowCreateTransfer"/>
		</authorization>
	</compositeWeb>
	<appSettings/>
	<connectionStrings/>
	<system.web>
		<authorization>
			<deny users="?"/>
		</authorization>
	</system.web>
</configuration>
