<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.web>
		<membership defaultProvider="RepositoryMembershipProvider">
			<providers>
				<add name="RepositoryMembershipProvider" type="OrdersRepository.Services.Authentication.RepositoryMembershipProvider, OrdersRepository.Services" />
			</providers>
		</membership>
	</system.web>	
</configuration>