<configuration>
	<configSections>
		<sectionGroup name="compositeWeb">
			<section name="modules" type="Microsoft.Practices.CompositeWeb.Configuration.ModulesConfigurationSection, Microsoft.Practices.CompositeWeb"/>
			<section name="authorization" type="Microsoft.Practices.CompositeWeb.Configuration.AuthorizationConfigurationSection, Microsoft.Practices.CompositeWeb"/>
		</sectionGroup>
	</configSections>
	<compositeWeb>
		<modules>
			<module name="Orders" assemblyName="OrderManagement.Orders" virtualPath="~/Orders">
				<dependencies>
					<dependency module="Shell" />
					<dependency module="SharedUserControls" />
				</dependencies>
				<services>
					<service registerAs="OrderManagement.Orders.Services.IOrderEntryFlowService, OrderManagement.Orders" type="OrderManagement.Orders.Services.OrderEntryFlowService, OrderManagement.Orders" scope="Module"/>
				</services>
			</module>
		</modules>
		<authorization>
			<rule Url="~/Orders/OrderEntry.aspx" Rule="AllowCreateOrders" />
			<rule Url="~/Orders/MySavedDrafts.aspx" Rule="AllowCreateOrders" />
			<rule Url="~/Orders/MyApprovals.aspx" Rule="AllowApprovals" />
			<rule Url="~/Orders/SearchOrders.aspx" Rule="AllowBrowseOrders"/>

			<rule Url="~/Orders/General.aspx" Rule="AllowCreateOrders" />
			<rule Url="~/Orders/Details.aspx" Rule="AllowCreateOrders" />
			<rule Url="~/Orders/Review.aspx" Rule="AllowCreateOrders" />
			<rule Url="~/Orders/Confirmation.aspx" Rule="AllowCreateOrders" />

			<rule Url="~/Orders/ProductServiceProxy.asmx/GetProduct" Rule="AllowAutocomplete" />

		</authorization>
	</compositeWeb>
	<appSettings/>
	<connectionStrings/>
	<system.web />
</configuration>
