<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="compositeWeb">
      <section name="modules" type="Microsoft.Practices.CompositeWeb.Configuration.ModulesConfigurationSection, Microsoft.Practices.CompositeWeb"/>
      <section name="authorization" type="Microsoft.Practices.CompositeWeb.Configuration.AuthorizationConfigurationSection, Microsoft.Practices.CompositeWeb"/>
    </sectionGroup>
  </configSections>
  <compositeWeb>
    <modules>
    </modules>
    <authorization>
      <rule Url="Default.aspx" Rule="MockRule01"/>
    </authorization>
  </compositeWeb>
</configuration>
