<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GlobalBank.Commercial.EBanking.Modules.EFT.ServiceProxies.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <GlobalBank.Commercial.EBanking.Modules.EFT.ServiceProxies.Properties.Settings>
            <setting name="GlobalBank_Commercial_EBanking_Modules_EFT_ServiceProxies_AccountService_AccountService"
                serializeAs="String">
                <value>http://localhost:3053/GlobalBankServices/AccountService.asmx</value>
            </setting>
        </GlobalBank.Commercial.EBanking.Modules.EFT.ServiceProxies.Properties.Settings>
    </applicationSettings>
</configuration>