<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="compositeWeb">
			<section name="modules" type="Microsoft.Practices.CompositeWeb.Configuration.ModulesConfigurationSection, Microsoft.Practices.CompositeWeb"/>
			<section name="authorization" type="Microsoft.Practices.CompositeWeb.Configuration.AuthorizationConfigurationSection, Microsoft.Practices.CompositeWeb"/>
		</sectionGroup>
		<sectionGroup name="pageFlow">
			<section name="pageFlowProvider" type="Microsoft.Practices.PageFlow.Configuration.PageFlowProviderSection, Microsoft.Practices.PageFlow"/>
			<section name="hostingWorkflowRuntime" type="System.Workflow.Runtime.Configuration.WorkflowRuntimeSection, System.Workflow.Runtime, Version=3.0.00000.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<section name="pageFlowInstanceStoreProvider" type="Microsoft.Practices.PageFlow.Configuration.PageFlowInstanceStoreProviderSection, Microsoft.Practices.PageFlow"/>
			<section name="pageFlowInstanceCorrelationTokenProvider" type="Microsoft.Practices.PageFlow.Configuration.PageFlowInstanceCorrelationTokenProviderSection, Microsoft.Practices.PageFlow"/>
		</sectionGroup>
	</configSections>

	<compositeWeb>
		<modules>
		</modules>
		<authorization>
			<rule Url="Default.aspx" Rule="MockRule01"/>
		</authorization>
	</compositeWeb>

	<pageFlow>
		<pageFlowProvider providerType="Microsoft.Practices.PageFlow.WorkflowFoundation.WorkflowFoundationPageFlowProvider, Microsoft.Practices.PageFlow.WorkflowFoundation"/>
		<hostingWorkflowRuntime Name="Hosting">
			<Services>
				<add type="System.Workflow.Runtime.Hosting.SqlWorkflowPersistenceService, System.Workflow.Runtime, Version=3.0.00000.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=WCSF_OrderEntryRI;Data Source=.\SQLEXPRESS;" LoadIntervalSeconds="5" UnloadOnIdle="true"/>
				<!--<add type="System.Workflow.Runtime.Hosting.SqlWorkflowPersistenceService, System.Workflow.Runtime, Version=3.0.00000.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=WCSF_OrderEntryRI;Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|WCSF_OrderEntryRI.mdf;User Instance=True;" LoadIntervalSeconds="5" UnloadOnIdle="true"/>-->
				<add type="System.Workflow.Runtime.Hosting.ManualWorkflowSchedulerService, System.Workflow.Runtime, Version=3.0.00000.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" useActiveTimers="true"/>
				<add type="System.Workflow.Activities.ExternalDataExchangeService, System.Workflow.Activities, Version=3.0.00000.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			</Services>
		</hostingWorkflowRuntime>
		<pageFlowInstanceStoreProvider providerType="Microsoft.Practices.PageFlow.Storage.EnterpriseLibrary.PageFlowInstanceCorrelationSqlProvider, Microsoft.Practices.PageFlow.Storage.EnterpriseLibrary" connectionString="RI_SqlConnection"/>
		<pageFlowInstanceCorrelationTokenProvider providerType="Microsoft.Practices.PageFlow.Storage.EnterpriseLibrary.CookiePageFlowCorrelationTokenProvider, Microsoft.Practices.PageFlow.Storage.EnterpriseLibrary" />
	</pageFlow>

	<connectionStrings>
		<add name="RI_SqlConnection" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=WCSF_OrderEntryRI;Data Source=.\SQLEXPRESS;" providerName="System.Data.SqlClient"/>
		<!--<add name="RI_SqlConnection" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=WCSF_OrderEntryRI;Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|WCSF_OrderEntryRI.mdf;User Instance=True;" providerName="System.Data.SqlClient"/>-->
	</connectionStrings>
</configuration>
