<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">

  <configSections>
    <sectionGroup name="compositeWeb">
      <section name="modules" type="Microsoft.Practices.CompositeWeb.Configuration.ModulesConfigurationSection, Microsoft.Practices.CompositeWeb"/>
    </sectionGroup>
  </configSections>

  <compositeWeb>
    <modules>
      <module name="Module1.Name" assemblyName="Module1.AssemblyName" virtualPath="Module1.VirtualPath"/>
    </modules>
  </compositeWeb>

  <mySection/>
</configuration>