<configuration>
  <configSections>
    <sectionGroup name="compositeWeb">
	  <section name="modules" type="Microsoft.Practices.CompositeWeb.Configuration.ModulesConfigurationSection, Microsoft.Practices.CompositeWeb"/>
	  <section name="authorization" type="Microsoft.Practices.CompositeWeb.Configuration.AuthorizationConfigurationSection, Microsoft.Practices.CompositeWeb"/>
	</sectionGroup>
  </configSections>
  <compositeWeb>
    <modules>
      <module name="CustomerManager" assemblyName="RealTimeSearchQuickstart.CustomerManager" virtualPath="~/CustomerManager">
		<dependencies>
          <dependency module="Shell" />
        </dependencies>
      </module>
    </modules>
    <authorization>
		<!-- Add your own view-rule mappings here:
          e.g.:
              <rule Url="~/CustomerManager/Default.aspx" Rule="AllowAccessCustomerManagerDefaultView" />
          -->
	</authorization>
  </compositeWeb>
  <appSettings/>
  <connectionStrings/>
  <system.web />  
</configuration>
