<configuration>
  <compositeWeb>
    <modules>
      <module name="Customers" assemblyName="ModularityQuickstart.Customers" virtualPath="~/Customers">
		    <dependencies>
          <dependency module="Shell" />
          <dependency module="Navigation" />
        </dependencies>
      </module>
    </modules>
    <authorization>
		<!-- Add your own view-rule mappings here:
          e.g.:
              <rule Url="~/Customers/Default.aspx" Rule="AllowAccessCustomersDefaultView" />
          -->
	</authorization>
  </compositeWeb>
  <appSettings/>
  <connectionStrings/>
  <system.web />  
</configuration>
